input, body, a, table, th, td {
    font-family: sans-serif; font-size: 100%;
}
h1 {
    color: rgb(0, 95, 0);
}
input {
    color: green;
}
body {
    background-color: rgb(135, 191, 255);
}
a {
    color: rgb(176, 0, 0)
}
table, th, td {
    border:2px solid rgb(0, 95, 0);
}
#grunn {
    display: flex;
}