h1, h2, p, a, th, td  {
    font-family: Arial, Helvetica, sans-serif; color:rgb(0, 0, 0); line-height: 1.6;
}

.top {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    border-bottom:4px solid rgb(255, 255, 255);

}

.toplink {
    display: flex;
    align-items: center;
    width: 150px;
    color: white;
}

.hvit {
    color: white;
}

.dull {
    color: rgb(119, 149, 188);
}

.hoved {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.hsider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 300px;
    background-color: rgb(71, 104, 147);
    border: 3px solid rgb(119, 149, 188);
}

h1 {
    display: flex;
    justify-content: center;
}

.sider {
    display: flex;
    flex-direction: row;

}

.usider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: rgb(71, 104, 147);
    border: 3px solid rgb(119, 149, 188);
}

.innhold {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.om {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 1800px;
    max-width: 99%;
    min-height: 750px;
    background-color: rgb(255, 255, 255);
}


.omvenstre {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
}

.omhøyre {
    max-width: 50%;
    min-width: 450px;


}

table, th, td {
    border:2px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

td, th {
    vertical-align: top; width: 150px;
}

.endinger{
    display: flex;
    flex-direction: column;

    width: 1800px;
    max-width: 99%;
    min-height: 100%;
    background-color: white;
}
.endingertop {
    display: flex;
    justify-content: center;
}

.endingerc {
    display: flex;
    justify-content: center;
}

.endingertabel {
    width: 95%;
}


body {
    background-color: rgb(36, 39, 72);
}